# 忽略ssl检查
strict-ssl=false

# 清除npm缓存: npm cache clean -f

# 查看npm配置: npm config list

# npm 默认源
# registry=https://registry.npmjs.org

# npm 淘宝源
# registry=https://registry.npmmirror.com

# 指定electron的安装源地址 (旧地址)
# electron_mirror=https://npm.taobao.org/mirrors/electron/

# 指定electron的安装源地址 (新地址)
electron_mirror=https://cdn.npmmirror.com/binaries/electron/


